<script context="module">
	import { browser, dev } from '$app/env';

	// we don't need any JS on this page, though we'll load
	// it in dev so that we get hot module replacement...
	export const hydrate = dev;

	// ...but if the client-side router is already loaded
	// (i.e. we came here from elsewhere in the app), use it
	export const router = browser;

	// since there's no dynamic data here, we can prerender
	// it so that it gets served as a static asset in prod
	export const prerender = true;
</script>

<svelte:head>
	<title>About Deqode</title>
</svelte:head>

<div class="content">
	
	<h1>Deqode</h1>
	<hr/>
	<h2>
		Hello from Deqode! 
	</h2>

	<p>
		This is a <a href="https://kit.svelte.dev">SvelteKit</a> app.
	</p>
	<p>
		The page you're looking at is purely static HTML, with no client-side interactivity needed.
		Because of that, we don't need to load any JavaScript. Try viewing the page's source, or opening
		the devtools network panel and reloading.
	</p>
</div>
<style>
	.content {
	  font-size: 1.5rem;
	  margin: 4rem;
	  padding: 2rem;
	  color: gray;
	  justify-content: center;
	  box-shadow: 4px 5px 11px 10px lightgray;
	}
  </style>
